<ui-table-block>
    <ng-container class="table-block-menu">
      
    </ng-container>
    <thead>
      <tr>
        <th>Tujuan PLTU</th>
        <th>Tanggal</th>
        <th>Jetty</th>
        <th>Moda</th>
        <th class="right aligned">Jumlah</th>
        <th class="right aligned">Harga</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of so">
        <td>{{item.mitraKesanggupan.tujuanPltu.name}}</td>
        <td>{{item.mitraKesanggupan.tglPengiriman | date:'shortDate'}}</td>
        <td>{{item.mitraKesanggupan.jetty.name}}</td>
        <td>{{item.mitraKesanggupan.mode | uppercase}}</td>
        <td class="right aligned">{{item.mitraKesanggupan.jumlah | number}}</td>
        <td class="right aligned">{{item.mitraKesanggupan.harga | currency:'Rp':undefined:undefined:'id'}}</td>
        <td class="center aligned collapsing">
          <ng-container *ngIf="!item.siRequest">
            <a [routerLink]="['/mitra', 'shipping-order', item.id, 'request-si']">
              <i class="upload link icon action-icon"></i>
            </a>
            <a>
              <i class="download icon action-icon disabled"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="item.siRequest">
            <ng-container *ngIf="!item.siRequest.shippingInstruction">
              <a>
                <i class="spinner loading icon action-icon"></i>
              </a>
              <a>
                <i class="download icon action-icon disabled"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="item.siRequest.shippingInstruction">
              <a *ngIf="item.siRequest.shippingInstruction.status != 3">
                <i class="spinner loading icon action-icon"></i>
              </a>
              <a *ngIf="item.siRequest.shippingInstruction.status == 3">
                <i class="check circle green icon action-icon"></i>
              </a>
              <a *ngIf="item.siRequest.shippingInstruction.status != 3">
                <i class="download icon action-icon disabled"></i>
              </a>
              <a *ngIf="item.siRequest.shippingInstruction.status == 3" (click)="download(item.siRequest.shippingInstruction)">
                <i class="download green link icon action-icon"></i>
              </a>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </ui-table-block>