<div class="ui container mt-2">
  <div class="ui top attached blue segment">
    <h4 class="ui header">
      <i class="settings icon"></i>
      <div class="content">
        Realisasi Pengiriman
      </div>
    </h4>
  </div>
  <!-- <div class="ui attached segment">
    <form [formGroup]="fg" class="ui form" novalidate (ngSubmit)="submit()" (keydown.enter)="$event.preventDefault()">
      <div class="ui grid">
        <div class="row">
            <div class="four wide column">    
              <h5 class="ui dividing header">
                Input Detail Pengiriman
              </h5>

              <div class="field">
                <label>Id Pengiriman</label>
                <input type="text" name="" placeholder="tgl. pengiriman" [value]="selected.name" disabled>
              </div>
    
              <div class="field">
                <label>Tgl. Pengiriman</label>
                <div class="ui calendar" uiCalendar formControlName="tglDikirim">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time">
                  </div>
                </div>
              </div>
    
              <div class="field">
                <label>Realisasi Pengiriman</label>
                <input type="text" name="" placeholder="realisasi" formControlName="jumlahDikirim">
              </div>
    
            </div>

            <div class="four wide column">
              <h5 class="ui dividing header">
                &nbsp;
              </h5>

              <div class="field">
                <label>Tb/Bg</label>
                <input type="text" name="" placeholder="tb/bg" formControlName="tbBg">
              </div>

              <div class="field">
                <label>No. SI</label>
                <input type="text" name="" placeholder="no. si" formControlName="noSi">
              </div>
    
              <div class="field">
                <label>Laycan</label>
                <input type="text" name="" placeholder="laycan" formControlName="laycan">
              </div>
    
            </div>

            <div class="four wide column">
              <h5 class="ui dividing header">
                &nbsp;
              </h5>

              <div class="field">
                <label>Jetty</label>
                <input type="text" name="" placeholder="jetty" formControlName="jetty">
              </div>

              <input type="file" multiple style="display: none;" (change)="logoChange($event)" #file>
              <div class="field">
                <label>Upload Dokumen</label>
                <div class="ui action input">
                  <input type="text" placeholder="Browse file..." readonly>
                  <button type="button" class="ui icon button" (click)="file.click()">
                    Browse
                  </button>
                </div>
              </div>

              <button class="ui primary button" type="submit" [disabled]="!fg.valid">Submit</button>
              <button class="ui button" type="button">Reset</button>
            </div>
        </div>

        <div class="sixteen wide column">
          
        </div>
        
      </div>
    </form>
  </div> -->
  <table class="ui bottom attached table">
    <thead>
      <tr>
        <th class="collapsing">Bulan</th>
        <th>PLTU</th>
        <th>Tgl.</th>
        <th class="right aligned collapsing">Jumlah</th>
        <th class="center aligned collapsing">Tgl. Dikirim</th>
        <th class="right aligned collapsing">Realisasi</th>
        <!-- <th class="right aligned collapsing">No. SI</th>
        <th class="right aligned collapsing">Laycan</th>
        <th class="right aligned collapsing">Jetty</th> -->
        <th class="right aligned collapsing">&nbsp;</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of records; let index = index">
        <td class="collapsing">{{item.bulan}}</td>
        <td>{{item.pltu}}</td>
        <td>{{item.tgl | date:'dd'}}</td>
        <td class="right aligned collapsing">{{item.jumlah}}</td>
        <td class="center aligned collapsing">{{(item._mitraShippingDetails ? (item._mitraShippingDetails.tglDikirim | date:'dd') : '-')}}</td>
        <td class="right aligned collapsing">{{(item._mitraShippingDetails ? item._mitraShippingDetails.jumlahDikirim : 0)}}</td>
        <!-- <td class="center aligned collapsing">{{(item._mitraShippingDetails ? item._mitraShippingDetails.noSi : '-')}}</td>
        <td class="center aligned collapsing">{{(item._mitraShippingDetails ? item._mitraShippingDetails.laycan : '-')}}</td>
        <td class="center aligned collapsing">{{(item._mitraShippingDetails ? item._mitraShippingDetails.jetty : '-')}}</td> -->
        <td class="right aligned collapsing">
          <a *ngIf="isMitra" href="javascript:void(0)" (click)="source(item.id)" uiPopup data-content="Sumber Tambang"><i [ngClass]="{'green': !!item._mitraSource}" class="boxes link icon"></i></a>
          <a *ngIf="isMitra" href="javascript:void(0)" (click)="requestSi(item.id)" uiPopup data-content="Request SI"><i [ngClass]="{'green': !!item._mitraSi}" class="clipboard outline link icon"></i></a>
          <!-- <a href="javascript:void(0)" (click)="info(item.id)"><i class="clipboard check link icon" [ngClass]="{'green': !!item._mitraShippingDetails}"></i></a> -->
          <a *ngIf="isMitra" href="javascript:void(0)" (click)="loading(item.id)" uiPopup data-content="Loading"><i [ngClass]="{'green': !!item._mitraLoadingDetails}" class="shipping fast link icon"></i></a>
          <a *ngIf="isMitraShipping" href="javascript:void(0)" (click)="sailing(item.id)" uiPopup data-content="Sailing"><i [ngClass]="{'green': !!item._mitraSailingDetails}" class="ship link icon"></i></a>
          <!-- <a href="javascript:void(0)" (click)="unloading(item.id)" uiPopup data-content="Unloading"><i [ngClass]="{'green': !!item._mitraUnloadingDetails}" class="dolly flatbed link icon"></i></a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>