<!-- <div class="ui black segment"> -->
  <ui-table-block>
    <ng-container class="table-block-menu">
      <a class="item"
         [routerLink]="['/admin', 'mitra', 'user', 'create']">
        <i class="plus icon"></i> Register
      </a>
    </ng-container>
    <thead>
      <tr>
        <th>Code Mitra</th>
        <th>Mitra</th>
        <th>Username</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userMitras">
        <td>{{item.mitra_code}}</td>
        <td>{{item.mitra_name}}</td>
        <td>{{item.user_username}}</td>
        <td class="center aligned collapsing">
          <a href="javascript:void(0)"
             (click)="delete(item)">
            <i class="trash link icon action-icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </ui-table-block>
  