<ui-table-block>
    <ng-container class="table-block-menu">
      <a class="item"
         [routerLink]="['/plnbb', 'realisasi-pengiriman', 'create']">
        <i class="plus icon"></i> Register
      </a>
    </ng-container>
    <thead>
      <tr>
          <th>Bulan</th>
          <th>PLTU</th>
          <th>Mitra</th>
          <th>Tgl.</th>
          <th>Tipe</th>
          <th>Mode</th>
          <th>Jumlah</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>bulan</td>
        <td>pltu</td>
        <td>mitra</td>
        <td>tgl</td>
        <td>tipe</td>
        <td>mode</td>
        <td>jumlah</td>
        <td>status</td>
      </tr>
    </tbody>
  </ui-table-block>
  