<div class="ui container fullheight bottom-space">
  <div class="ui grid mt-5">
    <div class="three wide column">
      <div class="ui secondary vertical menu">
        <a class="item"
           [routerLink]="['/dirop/shipping-instruction']"
           routerLinkActive="active">
          Shipping Instruction
          <div class="ui label">0</div>
        </a>
      </div>
    </div>
    <div class="thirteen wide column">
      <ui-breadcrumb></ui-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
