<div class="ui container fullheight bottom-space">
  <div class="ui grid mt-5">
    <div class="three wide column">
      <div class="ui secondary vertical menu">
        <a class="item"
           [routerLink]="['/dirop/shipping-instruction']"
           routerLinkActive="active">
          Shipping Instruction
          <div *ngIf="countSi > 0" class="ui label">{{countSi}}</div>
          <i *ngIf="countSi == 0" class="archive icon"></i>
        </a>
      </div>
    </div>
    <div class="thirteen wide column">
      <ui-breadcrumb></ui-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
