<div class="ui secondary menu">
  <a class="item" (click)="addNew()">
    <i class="plus icon"></i> Register
  </a>
  <div class="right menu">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" #queryBox placeholder="Search..." [(ngModel)]="keyword">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="new_user">
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="two fields">
        <div class="field">
          <label>Nama</label>
          <input placeholder="Input Nama" type="text" [(ngModel)]="masterUser.name" id="name">
        </div>
        <div class="field">
          <label>E-mail</label>
          <input placeholder="Input e-mail" type="text" [(ngModel)]="masterUser.email" id="email">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input placeholder="Input username" type="text" [(ngModel)]="masterUser.username" id="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input placeholder="Input password" type="password" [(ngModel)]="masterUser.password" id="password">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Role </label>
          <select class="ui dropdown" [(ngModel)]="masterUser.role_id" (change)="onChangeRole($event.target.value)" id="role_id">
            <option value="">Pilih Role</option>
            <option *ngFor="let data of data_role" value="{{data.id}}">{{data.name}}</option>
          </select>
        </div>
        <div class="field" *ngIf="is_mitra">
          <label>Mitra</label>
          <select class="ui dropdown" [(ngModel)]="masterUserMitra.mitra_id" id="mitra_id">
            <option value="">Pilih Mitra</option>
            <option *ngFor="let data of data_mitra" value="{{data.id}}">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="ui error message"></div>

      <div (click)="onSubmit()" class="ui submit button">Submit</div>
    </div>
  </div>
</ng-container>

<table class="ui sortable single line striped table">
  <thead>
    <tr>
      <th>Nama </th>
      <th>E-Mail</th>
      <th>username</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data_user">
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.username}}
      </td>
      <td>
        {{item.role_name}}
      </td>
      <td>
        {{item.status}}
      </td>
    </tr>
  </tbody>
</table>