<div class="ui middle aligned center aligned grid logincontainer">
  <div class="column" >
    <form method="get" class="ui large form">
      <div class="ui stacked   segment">
        <div class="ui center aligned icon header" >
          <img src="../../assets/img/plnbblogo.png" alt="" style="width:30%">
        </div>
        <h2 >
            <div class="content">
              PT PLN BARUBARA
            </div>
        </h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui error message"></div>
        <div class="ui fluid large teal submit button" (click)="login()">Login</div>
      </div>
    </form>
  </div>
</div>