<!-- <div class="ui bottom attached segment pushable" > -->
<div class="ui small menu header fixed top">
    <a class="active item">
        PT PLN BATUBARA
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="bell outline icon large"></i>
            (10)
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
            </div>
        </div>
        <div class="item">
            <div class="ui primary button">Logout</div>
        </div>
    </div>
</div>
<div class="ui visible inverted vertical left sidebar menu ">
    <img class="center" style="width:35%; padding-top: 3%" src="../../assets//img/1450433146.png">
    <a (click)="onSelect('dashboard')" id="dashboard" class="item">
        <i class="dashboard icon"></i>
        Dashboard
    </a>
    <a (click)="onSelect('rencanapasokan')" id="pltu" class="item">
        <i class="building layout icon"></i>
        Rencana Pasokan
    </a>
</div>
<div class="pusher">
    <div class="thirteen wide computer sixteen wide mobile column container" style="margin-bottom: 5%" >
        <div class="ui blue segment">
        <ng-container *ngIf="id == 'rencanapasokan'">
            <rencana-pasokan-plnbb></rencana-pasokan-plnbb>
        </ng-container>
        </div>
    </div>
</div>