<div class="ui container fullheight bottom-space">
	<div class="ui grid mt-5">
		<div class="three wide column">
			<div class="ui secondary vertical menu">
				<!-- <a class="item"
				   [routerLink]="['/plnbb/home']"
				   routerLinkActive="active">
					<i class="desktop icon"></i> Home
				</a> -->
				<!-- <div class="ui divider"></div> -->
				<a class="item"
				   [routerLink]="['/plnbb/rencana-pasokan']"
				   routerLinkActive="active">
					<i class="file alternate outline icon"></i> Rakor Pengiriman
				</a>
				<a class="item"
				   [routerLink]="['/plnbb/monitoring-pengiriman']"
				   routerLinkActive="active">
					<i class="laptop icon"></i> Monitor Pengiriman
				</a>

				<a class="item"
				   [routerLink]="['/plnbb/shipping-instruction']"
				   routerLinkActive="active">
					Shipping Instruction
					<div *ngIf="countSi > 0" class="ui red label">{{countSi}}</div>
					<i *ngIf="countSi == 0" class="archive icon"></i>
				</a>

				<!-- <div class="ui divider"></div> -->

				<a class="item"
				   [routerLink]="['/plnbb/verifikasi-loading']"
				   routerLinkActive="active">
					Loading
					<div *ngIf="countLoading > 0" class="ui red label">{{countLoading}}</div>
					<i *ngIf="countLoading == 0" class="box icon"></i>
				</a>
				<!-- <a class="item"
				   [routerLink]="['/plnbb/verifikasi-sailing']"
				   routerLinkActive="active">
					Sailing
					<div class="ui label">0</div>
				</a> -->
				<!-- <a class="item">
					Unloading
					<div class="ui label">0</div>
				</a>
				<a class="item">
					Umpire
					<div class="ui label">0</div>
				</a> -->
				<!-- <a class="item"
                href="javascript:;"
                routerLinkActive="active">
                <i class="book icon"></i> Laporan Bulanan
            </a> -->
			</div>
		</div>
		<div class="thirteen wide column">
			<ui-breadcrumb></ui-breadcrumb>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
