<div class="ui secondary menu">
  <a class="item" (click)="addNew()">
    <i class="plus icon"></i> Register
  </a>
  <div class="right menu">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" #queryBox placeholder="Search..." [(ngModel)]="keyword">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="new_ref">
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="fields">
        <div class="field">
          <label>Nomor Kontrak</label>
          <input placeholder="Input Nomor Kontrak" id="no_kontrak" type="text" [(ngModel)]="data_ref_kontrak.nomor_kontrak">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Nama Pekerjaan</label>
          <input placeholder="Input Nama Pekerjaan" id="name" type="text" [(ngModel)]="data_ref_kontrak.nama_pekerjaan">
        </div>
        <div class="field">
          <label>Tanggal Pekerjaan</label>
          <input placeholder="Input tanggal pekerjaan" id="tgl_pekerjaan" type="date" [(ngModel)]="data_ref_kontrak.tanggal_pekerjaan">
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>PLTU</label>
          <select name="pltu" multiple="" class="label ui selection fluid dropdown" id="pltu" [(ngModel)]="data_ref_kontrak.pltu_id" (change)="onSelect($event)">
            <option value="">Pilih PLTU</option>
            <option *ngFor="let pltu of master_pltu" value="{{pltu.id}}">{{pltu.name}}</option>
          </select>
        </div>

        <div class="field">
          <label>Mitra</label>
          <select id="multi-select" multiple="" name="mitra" class="label ui selection fluid dropdown" id="mitra" [(ngModel)]="data_ref_kontrak.mitra_id"
            (change)="onSelect($event)">
            <option value="">Pilih Mitra</option>
            <option *ngFor="let mitra of master_mitra" value="{{mitra.id}}">{{mitra.name}}</option>
          </select>
        </div>

        <div class="field">
          <label>Jenis</label>
          <select name="jenis" class="ui dropdown" id="jenis" [(ngModel)]="data_ref_kontrak.jenis">
            <option value="">Pilih Jenis</option>
            <option *ngFor="let jenis of masterJenis" value="{{jenis.value}}">{{jenis.desc}}</option>
          </select>
        </div>
      </div>
      <!-- Show error when form invalid -->
      <div class="ui error message"></div>
      <!-- -- -->
      <div class="ui success message">
        <div class="header">Form Completed</div>
        <p>You're data has beed added.</p>
      </div>
      <div (click)="onSubmit()" class="ui submit button">Submit</div>
    </div>
  </div>
</ng-container>

<table class="ui sortable single line striped table">
  <thead>
    <tr>
      <th>No Kontrak </th>
      <th>Nama Pekerjaan</th>
      <th>Tanggal Pekerjaan</th>
      <th>PLTU</th>
      <th>Mitra</th>
      <th>Jenis</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of master_ref_kontrak | searchRefKontrak: keyword; let i = index">
      <td>
        {{item.nomor_kontrak}}
      </td>
      <td>
        {{item.nama_pekerjaan}}
      </td>
      <td>
        {{item.tanggal_pekerjaan}}
      </td>
      <td>
        {{item.name_pltu}}
      </td>
      <td>
        {{item.name_mitra}}
      </td>
      <td>{{item.desc_jenis}}</td>
      <td>
          <div class="ui icon button" (click)="onEdit(i)" style="margin-right: 5%" data-tooltip="Edit data">
            <i class="green edit icon"></i>
          </div>
          <div class="ui icon button" (click)="onDelete(item.id)" data-tooltip="Delete data">
            <i class="red trash alternate icon"></i>
          </div>
        </td>
    </tr>
  </tbody>
</table>