<div class="ui top attached borderless menu no-border-bottom">
  <ng-content select=".table-block-menu"></ng-content>
  
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" #queryBox placeholder="Search..." (keyup.enter)="load(queryBox.value)">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui attached negative message segment" *ngIf="errorMsg">
  <div class="header">
    Oopss... somethings wrong!!!
  </div>
  <p>
    {{errorMsg}}
  </p>
</div>
<div class="ui yellow bottom attached segment">
  <table class="ui sortable single line striped table">
    <ng-content select="thead"></ng-content>
    <ng-content select="tbody"></ng-content>
  </table>
</div>