<div class="ui menu">
  <a class="item" [routerLink]="['/mitra', 'kesanggupan-pasokan', 'browse', 'available']" routerLinkActive="active" >
    Available
  </a>
  <a class="item" [routerLink]="['/mitra', 'kesanggupan-pasokan', 'browse', 'inprogress']" routerLinkActive="active">
    In Progress
  </a>
  <a class="item" [routerLink]="['/mitra', 'kesanggupan-pasokan', 'browse', 'delayed']" routerLinkActive="active">
    Delayed
  </a>
  <a class="item" [routerLink]="['/mitra', 'kesanggupan-pasokan', 'browse', 'complete']" routerLinkActive="active">
    Complete
  </a>
  <!-- <a class="item" [routerLink]="['/mitra', 'kesanggupan-pasokan', 'browse', 'expired']" routerLinkActive="active">
    Expired
  </a> -->
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text"
               placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="item"
       [routerLink]="['/mitra', 'kesanggupan-pasokan', 'create']">
      <i class="plus icon"></i> Register
    </a>
  </div>
</div>

<router-outlet></router-outlet>
<div class="mb-5"></div>