<div class="ui container fullheight bottom-space">
    <div class="ui grid mt-5">
        <div class="three wide column">
            <div class="ui secondary vertical menu fullwidth">
            <a class="item"
                [routerLink]="['/mitra/home']"
                routerLinkActive="active">
                <i class="desktop icon"></i> Home
            </a>
            <div class="ui divider"></div>
            <a class="item"
                [routerLink]="['/mitra/kesanggupan-pasokan']"
                routerLinkActive="active">
                <i class="file alternate outline icon"></i> Pasokan
            </a>
            <!-- <a class="item"
                [routerLink]="['/mitra/realisasi-pasokan']"
                routerLinkActive="active">
                <i class="clipboard outline icon"></i> Realisasi Pasokan
            </a> -->
            <a class="item"
                href="javascript:;"
                routerLinkActive="active">
                <i class="book icon"></i> Laporan
            </a>
            </div>
        </div>
        <div class="thirteen wide column">
            <div class="ui breadcrumb mb-1">
                <a class="section">Home</a>
                <div class="divider"> / </div>
                <a class="section">Mitra</a>
                <div class="divider"> / </div>
                <div class="active section">-</div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
  