<ui-form-block title="Kesanggupan Pasokan"
               [errorMsg]="errorMsg"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <div class="required field">
          <label>Referensi Kontrak</label>
          <select class="ui dropdown"
                  formControlName="referensiKontrakId"
                  (select)="onSelectKontrak($event)"
                  uiDropDown
                  [values]="daftarKontrak"
                  placeholder="Pilih Kontrak">

          </select>
        </div>
        <div class="required field">
          <label>Tujuan PLTU</label>
          <select class="ui dropdown"
                  formControlName="tujuanPltuId"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih PLTU</option>
            <option *ngFor="let item of pltus; let index = index"
                    [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="required field">
          <label>Tgl. Pengiriman</label>
          <div class="ui calendar"
                uiCalendar
                formControlName="tglPengiriman">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text"
                      placeholder="Date/Time">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Mode Pengiriman</label>
          <select class="ui dropdown"
                  formControlName="mode"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih Mode</option>
            <option value="tongkang">Tongkang</option>
            <option value="vessels">Vessels</option>
            <option value="trucking">Trucking</option>
          </select>
        </div>
        <div class="required field">
          <label>Jumlah</label>
          <input type="text"
                  placeholder="Jumlah Tonnase"
                  formControlName="jumlah">
        </div>
        <div class="required field">
          <label>Harga</label>
          <input type="text"
                  placeholder="Harga Metric Ton"
                  formControlName="harga">
        </div>
        <div class="required field">
          <label>Keterangan</label>
          <input type="text"
                 placeholder="keterangan"
                 formControlName="keterangan">
        </div>
        <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>
    <div class="column">
      <div class="fullheight fullwidth"
           style="background: url(assets/paragraph.png)">

      </div>
    </div>
  </div>
</ui-form-block>