<ui-form-block title="Kesanggupan Pasokan"
               [errorMsg]="errorMsg"
               (ngSubmit)="save()"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            class="ui form">
        <h5 class="ui dividing header"> Detail Kesanggupan Pasokan</h5>
        <div class="required field">
          <label>Referensi Kontrak</label>
          <div class="ui fluid search normal selection dropdown"
               uiAsyncDropdown
               [values]="getKontrak"
               placeholder="Select No Kontrak"
               (select)="onSelectKontrak($event)"
               formControlName="referensiKontrakId">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Mitra</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="required field">
          <label>Jenis Kontrak</label>
          <select class="ui dropdown"
                  formControlName="jenisKontrak">
            <option [value]="null" disabled >Pilih Jenis Kontrak</option>
            <option value="cif">CIF</option>
            <option value="fob">FOB</option>
          </select>
        </div>
        <div class="required field">
          <label>Tujuan PLTU</label>
          <div class="ui fluid search normal selection dropdown"
               uiAsyncDropdown
               [values]="getPltu"
               placeholder="Select PLTU"
               formControlName="tujuanPltuId">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select PLTU</div>
            <div class="menu"></div>
          </div>
        </div>
        <div class="required field">
          <label>Tgl. Pengiriman</label>
          <div class="ui calendar"
                uiCalendar
                formControlName="tglPengiriman">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text"
                      placeholder="Date/Time">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Mode Pengiriman</label>
          <select class="ui dropdown"
                  formControlName="mode">
            <option [value]="null" disabled >Pilih Mode Pengiriman</option>
            <option value="tongkang">Tongkang</option>
            <option value="vessels">Vessels</option>
            <option value="trucking">Trucking</option>
          </select>
        </div>
        <div class="required field">
          <label>Jetty</label>
          <div class="ui fluid search normal selection dropdown"
               uiAsyncDropdown
               [values]="getJetty"
               placeholder="Select Jetty"
               formControlName="jettyId">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Jetty</div>
            <div class="menu"></div>
          </div>
        </div>
        <!-- <div class="required field">
          <label>Jetty</label>
          <select class="ui dropdown"
                  formControlName="jettyId"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih Jetty</option>
            <option *ngFor="let item of jettys; let index = index"
                    [value]="item.id">{{item.name}}</option>
          </select>
        </div> -->
        <!-- <div class="required field" *ngIf="fg.value.jenisKontrak == 'cif'">
          <label>Jetty</label>
          <div class="ui fluid search normal selection dropdown"
                uiSearchDropdown
                [url]="jettyUri"
                [filter]="searchFilterJetty"
                (onSearch)="onSearchJetty($event)"
                formControlName="jetty">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Jetty</div>
            <div class="menu">
            </div>
          </div>
        </div> -->
        <div class="required field">
          <label>Jenis Batubara</label>
          <select class="ui dropdown"
                  formControlName="jenisBatubara">
            <option [value]="null" disabled >Pilih Jenis Batubara</option>
            <option value="lrc">LRC</option>
            <option value="mrc">MRC</option>
          </select>
        </div>
        <div class="required field">
          <label>Jumlah (MT)</label>
          <input type="text"
                  placeholder="Jumlah Tonnase"
                  formControlName="jumlah" 
                  disabled>
        </div>
        <div class="required field">
          <label>Harga (Ribu)</label>
          <input type="text"
                  placeholder="Harga Metric Ton"
                  formControlName="harga">
        </div>
        <div class="field">
          <label>Keterangan</label>
          <input type="text"
                 placeholder="keterangan"
                 formControlName="keterangan">
        </div>
        <!-- <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div> -->
      </form>
    </div>
    <div class="column">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <h5 class="ui dividing header">Sumber Tambang</h5>
        <div class="column">
          <div class="required field">
            <label>Tambang dan Jumlah</label>
            <div class="two fields" 
                *ngFor="let itemTambang of sumberTambang.controls; let i=index; let first = first; let last = last"
                [formGroup]="itemTambang">
              <div class="field">
                <!-- <div class="required field">
                  <select class="ui dropdown"
                          formControlName="tambangId"
                          uiDropDown>
                    <option value=""
                            disabled
                            hidden>Pilih Tambang</option>
                    <option *ngFor="let item of tambangs; let index = index"
                            [value]="item.id">{{item.name}}</option>
                  </select>
                </div> -->
                <div class="required field">
                  <div class="ui fluid search normal selection dropdown"
                        uiAsyncDropdown
                        [values]="getTambang"
                        placeholder="Select Tambang"
                        formControlName="tambangId">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Tambang</div>
                    <div class="menu"></div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui action input">
                  <input type="number"
                          (ngModelChange)="calculateJumlah($event, i)" [(ngModel)]="st[i]" placeholder="Jumlah" formControlName="jumlahPasokanTambang">
                  <button *ngIf="last"
                          class="ui icon button"
                          (click)="addTambang(fg)">
                    <i class="plus icon"></i>
                  </button>
                  <button *ngIf="last && !first"
                          class="ui icon button"
                          (click)="delTambang(i, fg)">
                    <i class="minus icon"></i>
                  </button>
                  <button *ngIf="!last"
                          class="ui icon button"
                          (click)="delTambang(i, fg)">
                    <i class="minus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="inline field">
            <button class="ui secondary button"
                    type="button"
                    (click)="cancel()">Cancel</button>
            <button class="ui primary button"
                    type="submit"
                    [disabled]="!fg.valid">Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ui-form-block>