<ui-form-block title="Kesanggupan Pasokan"
               [errorMsg]="errorMsg"
               (ngSubmit)="save()"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            class="ui form">
        <h5 class="ui dividing header"> Detail Kesanggupan Pasokan</h5>
        <div class="required field">
          <label>Referensi Kontrak</label>
          <select class="ui dropdown"
                  formControlName="referensiKontrakId"
                  (select)="onSelectKontrak($event)"
                  uiDropDown
                  [values]="daftarKontrak"
                  placeholder="Pilih Kontrak">

          </select>
        </div>
        <div class="required field">
          <label>Tujuan PLTU</label>
          <select class="ui dropdown"
                  formControlName="tujuanPltuId"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih PLTU</option>
            <option *ngFor="let item of pltus; let index = index"
                    [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="required field">
          <label>Tgl. Pengiriman</label>
          <div class="ui calendar"
                uiCalendar
                formControlName="tglPengiriman">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text"
                      placeholder="Date/Time">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Mode Pengiriman</label>
          <select class="ui dropdown"
                  formControlName="mode"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih Mode</option>
            <option value="tongkang">Tongkang</option>
            <option value="vessels">Vessels</option>
            <option value="trucking">Trucking</option>
          </select>
        </div>
        <div class="required field">
          <label>Jenis Kontrak</label>
          <select class="ui dropdown"
                  formControlName="jenisKontrak"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih Jenis Kontrak</option>
            <option value="cif">CIF</option>
            <option value="fob">FOB</option>
          </select>
        </div>
        <div class="required field" *ngIf="fg.value.jenisKontrak == 'cif'">
          <label>Jetty</label>
          <div class="ui fluid search normal selection dropdown"
                uiSearchDropdown
                [url]="jettyUri"
                [filter]="searchFilterJetty"
                (onSearch)="onSearchJetty($event)"
                formControlName="jettyId">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Jetty</div>
            <div class="menu">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Jenis Batubara</label>
          <select class="ui dropdown"
                  formControlName="jenisBatubara"
                  uiDropDown>
            <option value=""
                    disabled
                    hidden>Pilih Jenis Batubara</option>
            <option value="lrc">LRC</option>
            <option value="mrc">MRC</option>
          </select>
        </div>
        <div class="required field">
          <label>Jumlah (MT)</label>
          <input type="text"
                  placeholder="Jumlah Tonnase"
                  formControlName="jumlah">
        </div>
        <div class="required field">
          <label>Harga (Ribu)</label>
          <input type="text"
                  placeholder="Harga Metric Ton"
                  formControlName="harga">
        </div>
        <div class="field">
          <label>Keterangan</label>
          <input type="text"
                 placeholder="keterangan"
                 formControlName="keterangan">
        </div>
        <!-- <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div> -->
      </form>
    </div>
    <div class="column">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <h5 class="ui dividing header">Spesifikasi Batubara</h5>
        <div class="ui two column grid">
          <div class="column"> 
            <div class="required field">
              <label>GCV</label>
              <input type="text"
                    placeholder="GCV"
                    formControlName="gcv">
            </div>
            <div class="required field">
              <label>ASH</label>
              <input type="text"
                    placeholder="ASH"
                    formControlName="ash">
            </div>
            <div class="required field">
              <label>HGI</label>
              <input type="text"
                    placeholder="HGI"
                    formControlName="hgi">
            </div>
            <div class="required field">
              <label>70mm (%)</label>
              <input type="text"
                    placeholder="70mm (%)"
                    formControlName="size1">
            </div>
          </div>
          <div class="column"> 
            <div class="required field">
              <label>TM</label>
              <input type="text"
                    placeholder="TM"
                    formControlName="tm">
            </div>
            <div class="required field">
              <label>TS</label>
              <input type="text"
                    placeholder="TS"
                    formControlName="ts">
            </div>
            <div class="required field">
              <label>IDT</label>
              <input type="text"
                    placeholder="IDT"
                    formControlName="idt">
            </div>
            <div class="required field">
              <label>2.38mm</label>
              <input type="text"
                    placeholder="2.38mm"
                    formControlName="size2">
            </div>
          </div>
          
        </div>
        <h5 class="ui dividing header">Sumber Tambang</h5>
        <div class="column">
          <div class="required field">
            <label>Tambang dan Jumlah</label>
            <div class="two fields" 
                *ngFor="let itemTambang of daftarTambang.controls; let i=index; let first = first; let last = last"
                [formGroup]="itemTambang">
              <div class="field">
                <div class="required field">
                  <div class="ui fluid search normal selection dropdown"
                        uiSearchDropdown
                        [url]="tambangUri"
                        [filter]="searchFilterTambang"
                        (onSearch)="onSearchTambang($event)"
                        formControlName="tambangId">
                    <input type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Tambang</div>
                    <div class="menu">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui action input">
                  <input type="text"
                          placeholder="Jumlah" formControlName="jumlahPasokanTambang">
                  <button *ngIf="last"
                          class="ui icon button"
                          (click)="addTambang(fg)">
                    <i class="plus icon"></i>
                  </button>
                  <button *ngIf="last && !first"
                          class="ui icon button"
                          (click)="delTambang(i, fg)">
                    <i class="minus icon"></i>
                  </button>
                  <button *ngIf="!last"
                          class="ui icon button"
                          (click)="delTambang(i, fg)">
                    <i class="minus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="inline field">
            <button class="ui secondary button"
                    type="button"
                    (click)="cancel()">Cancel</button>
            <button class="ui primary button"
                    type="submit"
                    [disabled]="!fg.valid">Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ui-form-block>