<div class="ui active dimmer"
     *ngIf="submitting">
  <div class="ui loader"></div>
</div>
<div class="ui menu">
  <a class="item"
     *ngFor="let item of daftarBulanRakor; let index=index"
     [ngClass]="{'active': (selectedBulanRakorIndex == index)}"
     (click)="selectBulanRakor(index)">
    {{item.key}}
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text"
               placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="item"
       (click)="generate()"
       [ngClass]="{'disabled': selectedDaftarRencana}">
      <i class="download icon"></i> Generate
    </a>
    <a class="item"
       (click)="lock()">
      <i class="unlock icon"></i> Lock
    </a>
  </div>
</div>

<ng-container *ngFor="let item of selectedDaftarRencana | keyvalue; trackBy:trackByFn">
  <a class="ui label month-divider">
    <i class="marker icon"></i>
    {{item.key}}
  </a>
  <div class="ui segment">
    <table class="ui very basic table">
      <thead>
        <tr>
          <th class="four wide">Tujuan PLTU</th>
          <th class="left aligned collapsing">Total Kebutuhan</th>
          <th class="right aligned collapsing">Total Pasokan</th>
          <th class="right aligned collapsing">Total Harga</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let itemRencana of item.value; let index=index; trackBy:trackByFn"
                      [formGroup]="fgAmounts.controls[itemRencana.index]">
          <tr>
            <td class="four wide">{{itemRencana.tujuanPltu.name}}</td>
            <td class="left aligned collapsing">
              <div class="ui transparent left icon fluid input">
                <input type="number"
                       placeholder="Isi Metric Ton"
                       formControlName="amount">
                <i class="weight icon"></i>
              </div>
            </td>
            <td class="right aligned">
              {{itemRencana.totalJumlah | number}} (<span class="minus"
                    [ngClass]="{'minus': ((itemRencana.totalJumlah - itemRencana.totalKebutuhan) <= 0), 'surplus': ((itemRencana.totalJumlah - itemRencana.totalKebutuhan) > 0)}">{{(itemRencana.totalJumlah
                - itemRencana.totalKebutuhan) | number}}</span>)
            </td>
            <td class="right aligned">{{itemRencana.totalHarga | currency:'Rp':undefined:undefined:'id'}}</td>
            <td class="center aligned collapsing">
              <a (click)="setTotalKebutuhan(itemRencana, fgAmounts.controls[itemRencana.index])">
                <i class="save link icon action-icon"
                   [ngClass]="{'red': itemRencana.totalKebutuhan != fgAmounts.controls[itemRencana.index].value.amount}"></i>
              </a>
              <a (click)="pickMitra(itemRencana)"
                 *ngIf="!picking">
                <i class="external alternate link icon action-icon"></i>
              </a>
              <a *ngIf="picking">
                <i class="spinner loading icon action-icon"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="itemRencana.pasokan.length > 0">
            <td class="four wide"></td>
            <td colspan="3">
              <table class="ui very basic table">
                <thead>
                  <tr>
                    <th colspan="4">Daftar Pasokan Oleh Mitra</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemPasokan of itemRencana.pasokan">
                    <td class="five wide">
                      <i class="search link grey icon"></i> {{itemPasokan.mitraKesanggupan?.mitra.name}}
                    </td>
                    <td class="two wide">{{itemPasokan.mitraKesanggupan?.mode | titlecase}}</td>
                    <td class="right aligned">{{itemPasokan.mitraKesanggupan?.jumlah | number:undefined:'id'}}</td>
                    <td class="right aligned">{{itemPasokan.mitraKesanggupan?.harga |
                      currency:'Rp':undefined:undefined:'id'}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
<div class="mb-5"></div>
<div class="ui small modal pilih-pasokan">
  <!-- <div class="header">
    Pilih Pasokan Dari Mitra
  </div> -->
  <div class="content">
    <app-plnbb-rencana-pasokan-modal [daftarPasokan]="daftarPasokan"
                                     [buffer]="selectedPasokan"></app-plnbb-rencana-pasokan-modal>
  </div>
  <div class="actions">
    <div class="ui red cancel button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui primary ok button">
      <i class="checkmark icon"></i>
      Save
    </div>
  </div>
</div>
