<div class="ui top attached yellow segment">
  <div [formGroup]="fg"
        class="ui form">
    <div class="ui three column grid">
      <div class="column">
        <div class="field">
          <label>Tahun</label>
            <div class="field">
              <input type="text" name="" placeholder="tahun" formControlName="tahun" readonly>
            </div>
        </div>
        <div class="required field">
          <label>Mitra</label>
          <select class="ui dropdown"
                  formControlName="mitra" uiDropDown>
            <option value="" disabled hidden>Pilih Mitra</option>
            <option *ngFor="let item of listMitra; let index = index"
                    [value]="item.value"><span [innerHTML]="item.name"></span></option>
          </select>
        </div>
        <!-- <div class="required field">
          <label>Mitra</label>
          <div class="ui fluid search normal selection dropdown" uiSearchDropdown [url]="mitraUri" [filter]="searchFilterMitra" (onSearch)="onSearchMitra($event)" formControlName="mitra">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Mitra</div>
            <div class="menu">           
            </div>
          </div>
        </div> -->
      </div>
      <div class="column">
        <div class="required field">
          <label>Bulan</label>
          <select class="ui dropdown"
                  formControlName="bulan"
                  (change)="onSelectBulan($event.target.value)">
            <option [value]="null" disabled hidden>Pilih Bulan</option>
            <option *ngFor="let item of months; let index = index" [value]="index">{{item}}</option>
          </select>
        </div>
        <div class="required field">
          <label>Tgl. Pengiriman</label>
          <div class="ui calendar"
                uiCalendar
                formControlName="tanggalPengiriman">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text"
                      placeholder="Date/Time">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- <div class="required field">
          <label>PLTU</label>
          <div class="ui fluid search normal selection dropdown" uiSearchDropdown [url]="pltuUri" [filter]="searchFilterPltu" (change)="onSelectPltu($event.target.value)" (onSearch)="onSearchPltu($event)" formControlName="pltu">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Pltu</div>
            <div class="menu">           
            </div>
          </div>
        </div> -->
        <div class="required field">
          <label>PLTU</label>
          <select class="ui dropdown"
                  formControlName="pltu"
                  (change)="onSelectPltu($event.target.value)">
            <option [value]="null">Pilih PLTU</option>
            <option *ngFor="let item of pltus; let index = index"
                    [value]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui bottom attached segment">
  <form class="ui form"
        [formGroup]="fg"
        (ngSubmit)="save()" >
    <div class="inline field">
      <button class="ui secondary button"
              type="button"
              (click)="reset()">Reset</button>
      <button class="ui primary button"
              type="submit"
              [disabled]="!fg.valid">Submit</button>
    </div>
  </form>
</div>
<ui-table-block>
    <thead>
      <tr>
          <th>PLTU</th>
          <th>Mitra</th>
          <th>Tgl.</th>
          <th>Tipe</th>
          <th>Mode</th>
          <th>Jumlah</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listPlnRencana" >
        <td>{{item.mitraKesanggupan.tujuanPltu.name}}</td>
        <td>{{item.mitraKesanggupan.referensiKontrak.mitra.name}}</td>
        <td>{{item.tglPengiriman | date:'shortDate'}}</td>
        <td>{{item.mitraKesanggupan.referensiKontrak.tipe}}</td>
        <td>{{item.mitraKesanggupan.mode}}</td>
        <td>{{item.mitraKesanggupan.jumlah}}</td>
        
      </tr>
    </tbody>
  </ui-table-block>
  