<ui-table-block>
    <ng-container class="table-block-menu">
      <a class="item"
         [routerLink]="['/admin', 'pltu', 'create']">
        <i class="plus icon"></i> Register
      </a>
    </ng-container>
    <thead>
      <tr>
        <th>PLTU Code</th>
        <th>PLTU Name</th>
        <th>Address</th>
        <th>NPWP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pltus">
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.npwp}}</td>
        <td class="center aligned collapsing">
          <a href="javascript:void(0)"
             (click)="delete(item)">
            <i class="trash link icon action-icon"></i>
          </a>
          <a [routerLink]="['/admin', 'pltu', item.id, 'edit']">
            <i class="edit link icon action-icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </ui-table-block>
  