<div class="ui secondary menu">
  <a class="item" (click)="addNew()">
    <i class="plus icon"></i> Register
  </a>
  <div class="right menu">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" #queryBox placeholder="Search..." [(ngModel)]="keyword">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="new_role">
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="two fields">
        <div class="field">
          <label>Role Name</label>
          <input placeholder="Role Name" id="role_name" type="text" [(ngModel)]="dummyUser.name">
        </div>
        <div class="field">
          <label>Role Description</label>
          <input placeholder="Role Description" id="role_desc" type="text" [(ngModel)]="dummyUser.description">
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label>Role Status</label>
          <input placeholder="Role Status" id="role_status" type="text" [(ngModel)]="dummyUser.status">
        </div>
      </div>
      <!-- Show error when form invalid -->
      <div class="ui error message"></div>
      <!-- -- -->
      <div (click)="onSubmit()" class="ui submit button">Submit</div>
    </div>
  </div>
</ng-container>

<table class="ui sortable single line striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data_role | searchRole: keyword">
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.description}}
      </td>
      <td>
        {{item.status}}
      </td>
    </tr>
  </tbody>
</table>