<ui-form-block title="PLTU Account"
               [errorMsg]="errorMsg"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <div class="required field">
          <label>Nomor Kontrak</label>
          <input type="text"
                 placeholder="Nomor Kontrak"
                 formControlName="nomorKontrak">
        </div>
        <div class="required field">
          <label>Nama Pekerjaan</label>
          <input type="text"
                 placeholder="Nama Pekerjaan"
                 formControlName="namaPekerjaan">
        </div>
        <div class="field">
          <label>Tanggal Pekerjaan</label>
          <div class="ui calendar" uiCalendar formControlName="tanggalPekerjaan">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date/Time">
            </div>
          </div>
        </div>
        <div class="required field">
          <label>Jenis Kontrak</label>
          <select class="ui dropdown" formControlName="jenisKontrak">
            <option [value]="null" >Pilih Jenis Kontrak</option>
            <option value="cif">CIF</option>
            <option value="fob">FOB</option>
            <option value="ciffob">CIF & FOB</option>
          </select>
        </div>
        <div class="required field">
          <label>Owner</label>
          <div class="ui fluid search normal selection dropdown" uiSearchDropdown [url]="mitraUri" [filter]="searchFilterMitra" (onSearch)="onSearchMitra($event)" formControlName="mitra">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Mitra</div>
            <div class="menu">           
            </div>
          </div>
        </div>
        <div class="required field">
          <label>PLTU</label>
          <select multiple class="ui dropdown" uiMultiDropdown [values]="pltu" placeholder="Select Pltu" formControlName="pltu">
            <option value="" disabled hidden>Select Pltu</option>
          </select>
        </div>
        <div class="required field">
          <label>Tambang</label>
          <select multiple class="ui dropdown" uiMultiDropdown [values]="tambang" placeholder="Select Tambang" formControlName="tambang">
            <option value="" disabled hidden>Select Tambang</option>
          </select>
        </div>
        <div class="required field">
          <label>Jetty</label>
          <select multiple class="ui dropdown" uiMultiDropdown [values]="jetty" placeholder="Select Jetty" formControlName="jetty">
            <option value="" disabled hidden>Select Jetty</option>
          </select>
        </div>
        <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>
    <div class="column">
      <div class="fullheight fullwidth"
           style="background: url(assets/paragraph.png)">

      </div>
    </div>
  </div>
</ui-form-block>