<router-outlet></router-outlet>
<!-- <div class="ui secondary menu">
  <a class="item" (click)="addNew()">
    <i class="plus icon"></i> Register
  </a>
  <div class="right menu">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" #queryBox placeholder="Search..." [(ngModel)]="keyword">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="new_pltu">
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="fields">
        <div class="field">
          <label>PLTU Code</label>
          <input placeholder="Input PLTU Code" type="text" [(ngModel)]="masterPLTU.code" id="pltu_code">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>PLTU Name</label>
          <input placeholder="Input PLTU Name" type="text" [(ngModel)]="masterPLTU.name" id="pltu_name">
        </div>
        <div class="field">
          <label>PLTU Address</label>
          <input placeholder="Input PLTU Address" type="text" [(ngModel)]="masterPLTU.address" id="pltu_address">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>PLTU NPWP</label>
          <input placeholder="Input PLTU NPWP" type="text" [(ngModel)]="masterPLTU.npwp" id="pltu_npwp">
        </div>
        <div class="field">
          <label>PLTU Status</label>
          <input placeholder="Input PLTU Status" type="text" [(ngModel)]="masterPLTU.status" id="pltu_status">
        </div>
      </div>
      Show error when form invalid
      <div class="ui error message"></div>
      --
      <div class="ui success message">
        <div class="header">Form Completed</div>
        <p>You're data has been added.</p>
      </div>
      <div (click)="onSubmit()" class="ui submit button">Submit</div>
    </div>
  </div>
</ng-container>

<table class="ui sortable single line striped table">
  <thead>
    <tr>
      <th>PLTU Code</th>
      <th>PLTU Name</th>
      <th>PLTU Address</th>
      <th>PLTU NPWP</th>
      <th>PLTU Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data_pltu | searchPLTU: keyword; let i = index">
      <td>
        {{item.code}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.address}}
      </td>
      <td>
        {{item.npwp}}
      </td>
      <td>
        {{item.status}}
      </td>
      <td>
        <div class="ui icon button" (click)="onEdit(i)" style="margin-right: 5%" data-tooltip="Edit data">
          <i class="green edit icon"></i>
        </div>
        <div class="ui icon button" (click)="onDelete(item.id)" data-tooltip="Delete data">
          <i class="red trash alternate icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table> -->
