<ui-form-block title="Jetty" [errorMsg]="errorMsg" [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg" (ngSubmit)="save()" class="ui form">
        <div class="required field">
          <label>Code</label>
          <input type="text" placeholder="code" formControlName="code">
        </div>
        <div class="required field">
          <label>Nama</label>
          <input type="text" placeholder="Jetty Name" formControlName="name">
        </div>
        <div class="required field">
          <label>Wilayah</label>
          <input type="text" placeholder="Address" formControlName="address">
        </div>
        <div class="field">
          <label>Provinsi</label>
          <input type="text" placeholder="Province" formControlName="province">
        </div>
        <div class="field">
          <label>Kota</label>
          <input type="text" placeholder="City" formControlName="city">
        </div>
        <div class="field">
          <label>Latitude</label>
          <input type="text" placeholder="Latitude" formControlName="latitude">
        </div>
        <div class="field">
          <label>Longitude</label>
          <input type="text" placeholder="Longitude" formControlName="longitude">
        </div>
        <div class="inline field">
          <button class="ui secondary button" type="button" (click)="cancel()">Cancel</button>
          <button class="ui primary button" type="submit" [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth" style="background: url(assets/paragraph.png)">

      </div>
    </div>
  </div>
</ui-form-block>