<div class="ui container mt-2">
  <div class="ui top attached blue segment">
    <h4 class="ui header">
      <i class="settings icon"></i>
      <div class="content">
        Monitor Realisasi Pengiriman Batu Bara
      </div>
    </h4>
  </div>
  <!-- <div class="ui bottom attached segment"> -->
    <table class="ui bottom attached table">
      <thead>
        <tr>
          <th class="collapsing">Bulan</th>
          <th>PLTU</th>
          <th>Mitra</th>
          <th>Tgl.</th>
          <th>Tipe</th>
          <th>Mode</th>
          <th class="right aligned collapsing">Jumlah</th>
          <th class="center aligned collapsing">Status</th>
          <th class="right aligned collapsing">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of records; let index = index">
          <td class="collapsing">{{item.bulan}}</td>
          <td>{{item.pltu}}</td>
          <td>{{item.mitra.entity.alias}}</td>
          <td>{{item.tgl | date:'dd'}}</td>
          <td>{{item.tipe}}</td>
          <td>{{item.mode}}</td>
          <td class="right aligned collapsing">{{item.jumlah}}</td>
          <td class="center aligned collapsing">-</td>
          <td class="right aligned collapsing">
            <a *ngIf="item._mitraSi" href="javascript:void(0)" (click)="processSi(item.id)" uiPopup data-content="Process SI"><i [ngClass]="{'green': !!item._plnSi}" class="clipboard outline link icon"></i></a>
            <!-- <a href="javascript:void(0)" (click)="info(item.id)" uiPopup data-content="Info"><i [ngClass]="{'green': !!item._plnShippingDetails}" class="clipboard check link icon"></i></a> -->
            <a href="javascript:void(0)" (click)="loading(item.id)" uiPopup data-content="Loading"><i [ngClass]="{'green': !!item._plnLoadingDetails}" class="shipping fast link icon"></i></a>
            <a href="javascript:void(0)" (click)="unloading(item.id)" uiPopup data-content="Unloading"><i [ngClass]="{'green': !!item._plnUnloadingDetails}" class="dolly flatbed link icon"></i></a>
            <!-- <a href="javascript:void(0)" (click)="process(item)"><i class="truck link icon"></i></a> -->
          </td>
        </tr>
      </tbody>
    </table>
  <!-- </div> -->
</div>