<!-- <div class="ui black segment"> -->
    <ui-table-block [disableSearch]=true>
        <ng-container class="table-block-menu">
          <div class="ui top attached segment">
            <h4 class="ui left floated header">
              <i class="settings icon"></i>
              <div class="content">Monitor Realisasi Pengiriman Batu Bara</div>
            </h4>
          </div>
          
        </ng-container>
        <thead>
          <tr>
            <th>Bulan</th>
            <th>PLTU</th>
            <th>Mitra</th>
            <th>Tgl.</th>
            <th>Tipe</th>
            <th>Mode</th>
            <th>Jumlah</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->
        </tbody>
      </ui-table-block>
      