<div class="ui secondary menu">
  <a class="item" (click)="addNew()">
    <i class="plus icon"></i> Register
  </a>
  <div class="right menu">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" #queryBox placeholder="Search..." [(ngModel)]="keyword">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="new_mitra">
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="fields">
        <div class="field">
          <label>Mitra Code</label>
          <input placeholder="Input Mitra Code" type="text" [(ngModel)]="masterMitra.code" id="mitra_code">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Mitra Name</label>
          <input placeholder="Input Mitra Name" type="text" [(ngModel)]="masterMitra.name" id="mitra_name">
        </div>
        <div class="field">
          <label>Mitra Address</label>
          <input placeholder="Input Mitra Address" type="text" [(ngModel)]="masterMitra.address" id="mitra_address">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Mitra NPWP</label>
          <input placeholder="Input Mitra NPWP" type="text" [(ngModel)]="masterMitra.npwp" id="mitra_npwp">
        </div>
      </div>
      <!-- Show error when form invalid -->
      <div class="ui error message"></div>
      <!-- -- -->
      <div class="ui success message">
        <div class="header">Form Completed</div>
        <p>You're data has been saved.</p>
      </div>
      <div (click)="onSubmit()" class="ui submit button">Submit</div>
    </div>
  </div>
</ng-container>

<table class="ui sortable single line striped table">
  <thead>
    <tr>
      <th>Mitra Code</th>
      <th>Mitra Name</th>
      <th>Mitra Address</th>
      <th>Mitra NPWP</th>
      <th>Mitra Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data_mitra | searchMitra: keyword; let i = index">
      <td>
        {{item.code}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.address}}
      </td>
      <td>
        {{item.npwp}}
      </td>
      <td>
        {{item.status_name}}
      </td>
      <td>
        <div class="ui icon button" (click)="onEdit(i)" style="margin-right: 5%" data-tooltip="Edit data">
          <i class="green edit icon"></i>
        </div>
        <div class="ui icon button" (click)="onDelete(item.id)" data-tooltip="Delete data">
          <i class="red trash alternate icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
