<ui-table-block>
    <ng-container class="table-block-menu">
      <a class="item"
         [routerLink]="['/admin', 'referensi-kontrak', 'create']">
        <i class="plus icon"></i> Register
      </a>
    </ng-container>
    <thead>
      <tr>
        <th>Nomor Kontrak</th>
        <th>Nama Pekerjaan</th>
        <th>Tanggal Pekerjaan</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of referensiKontrakList">
        <td>{{item.nomorKontrak}}</td>
        <td>{{item.namaPekerjaan}}</td>
        <td>{{item.tanggalPekerjaan | date:'mediumDate'}}</td>
        <td class="center aligned collapsing">
          <a href="javascript:void(0)"
             (click)="delete(item)">
            <i class="trash link icon action-icon"></i>
          </a>
          <a [routerLink]="['/admin', 'referensi-kontrak', item.id, 'edit']">
            <i class="edit link icon action-icon"></i>
          </a>
          <!-- <a [routerLink]="['/admin', 'referensi-kontrak', item.id, 'pltu']">
            <i class="building link icon action-icon"></i>
          </a>
          <a [routerLink]="['/admin', 'referensi-kontrak', item.id, 'tambang']">
            <i class="cogs link icon action-icon"></i>
          </a> -->
        </td>
      </tr>
    </tbody>
  </ui-table-block>
  