<ui-form-block title="Mitra"
               [errorMsg]="errorMsg"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <div class="required field">
          <label>Code</label>
          <input type="text"
                 placeholder="code"
                 formControlName="code">
        </div>
        <div class="required field">
          <label>Name</label>
          <input type="text"
                 placeholder="name"
                 formControlName="name">
        </div>
        <div class="required field">
          <label>Address</label>
          <input type="text"
                 placeholder="address"
                 formControlName="address">
        </div>
        <div class="required field">
          <label>NPWP</label>
          <input type="text"
                 placeholder="npwp"
                 formControlName="npwp">
        </div>
        <div class="required field">
          <label>Owner</label>
          <div class="ui fluid search normal selection dropdown" uiSearchDropdown [url]="userUri" [filter]="searchFilterUser" (onSearch)="onSearchUser($event)" formControlName="user">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select User</div>
            <div class="menu">           
            </div>
          </div>
        </div>
        <!-- <div class="required field">
          <label>Status</label>

          <select class="ui dropdown" formControlName="status">
            <option value="" disabled>Pilih Status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>

        </div> -->
        <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth"
           style="background: url(assets/paragraph.png)">

      </div>
    </div>
  </div>
</ui-form-block>