<div class="ui container mt-2 mb-5">
  <div class="ui segment">
    <form class="ui form" [formGroup]="siForm" novalidate (ngSubmit)="submit()" (keydown.enter)="$event.preventDefault()">
      <div class="ui grid">
        <div class="row">
          <div class="five wide column">
            <h5 class="ui dividing header">
              Request Shipping Instruction
            </h5>
            <div class="field">
              <label>Mitra Pengiriman</label>
              <select class="ui dropdown" formControlName="mitraBatuId" disabled>
                <option [value]="null">Select Mitra</option>
                <option *ngFor="let m of mitra" [value]="m.id">{{m.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>Mitra Shipping</label>
              <select class="ui dropdown" formControlName="mitraTransportId">
                <option [value]="null">Select Mitra</option>
                <option *ngFor="let m of mitra" [value]="m.id">{{m.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>No. SI</label>
              <input type="text" placeholder="no si" formControlName="noSi">
            </div>
            <div class="field">
              <label>Tgl. Pengiriman</label>
              <div class="ui calendar" uiCalendar formControlName="date">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Date/Time">
                </div>
              </div>
            </div>
            <ng-container *ngIf="isMitraInput">
              <button *ngIf="!selected._plnSi" class="ui blue button" type="submit" [disabled]="!siForm.valid">Submit</button>
              <button *ngIf="!selected._plnSi" class="ui button" type="button">Reset</button>
              <button class="ui red button" type="button" (click)="download()" [disabled]="!selected._plnSi">Download</button>
            </ng-container>
            <ng-container *ngIf="!isMitraInput">
              <button class="ui green button" type="button" (click)="approve()">Approve</button>
              <button class="ui red button" type="button" (click)="reject()">Reject</button>
            </ng-container>
          </div>
          <div class="five wide column">
            <h5 class="ui dividing header">
              &nbsp;
            </h5>
            <div class="field">
              <label>Tujuan PLTU</label>
              <input type="text" placeholder="pltu" formControlName="pltu" disabled>
            </div>
            <div class="field">
              <label>Laycan</label>
              <input type="text" placeholder="laycan" formControlName="laycan">
            </div>
            <div class="field">
              <label>Jetty</label>
              <input type="text" placeholder="jetty" formControlName="jetty">
            </div>
            <div class="field">
              <label>Nama Kapal</label>
              <input type="text" placeholder="namaKapal" formControlName="namaKapal">
            </div>
          </div>
          
        </div>
      </div>
    </form>
  </div>
</div>