<ui-form-block title="User Mitra"
               [errorMsg]="errorMsg"
               [submitting]="submitting">
  <div class="ui two column grid">
    <div class="column border-right">
      <form [formGroup]="fg"
            (ngSubmit)="save()"
            class="ui form">
        <div class="required field">
          <label>Mitra</label>
          <select class="ui dropdown" formControlName="mitra_id">
            <option value="" disabled hidden>Pilih Mitra</option>
            <option *ngFor="let item of mitras" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>

        <div class="required field">
          <label>User</label>
          <select class="ui dropdown" formControlName="user_id">
            <option value="" disabled hidden>Pilih User</option>
            <option *ngFor="let item of users" value="{{item.id}}">{{item.username}}</option>
          </select>
        </div>
        
        <div class="inline field">
          <button class="ui secondary button"
                  type="button"
                  (click)="cancel()">Cancel</button>
          <button class="ui primary button"
                  type="submit"
                  [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth"
           style="background: url(assets/paragraph.png)">

      </div>
    </div>
  </div>
</ui-form-block>